<div class="container">
  <form [formGroup]="form">
    <table formArrayName="attacks">
      <thead class="attack-header">
        <tr>
          <th></th>
          <th>NOMBRE</th>
          <th>CARACTERÍSTICA</th>
          <th>DAÑO</th>
          <th>BONUS</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let attack of attacks.controls; let i = index; let last = last;" [formGroupName]="i">
          <td>
            <input type="checkbox" class="proficiency" aria-label="Competencia" formControlName="proficiency">
          </td>
          <td>
            <input type="text" class="name" formControlName="name">
          </td>
          <td>
            <select class="select-ability" formControlName="ability">
              <option value="">-</option>
              <option value="strength">FUE</option>
              <option value="dexterity">DES</option>
              <option value="constitution">CON</option>
              <option value="intelligence">INT</option>
              <option value="wisdom">SAB</option>
              <option value="charisma">CAR</option>
            </select>
          </td>
          <td>
            <input type="number" class="damage" formControlName="damage">
          </td>
          <td>
            <!-- <div *ngIf="selectedAbility" class="bonus" formControlName="bonus">{{ calculateBonus(character.level) |
              addSignFilter }}</div> -->
          </td>
          <td>
            <button *ngIf="last" type="button" class="addAttackBtn" (click)="addNewAttack()">+</button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>

</div>