:host {
  background-image: url("src/assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center; 
  display: block;
  min-height: 100%;
}

.root {
  height: 100%;
  width: 100%;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;

  padding: 32px 16px 0px;
}

.header {
  display: flex;
  align-items: center;
  
  gap: 18px;
}

.characterInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputName{
  background-color: transparent;
  border: none;
  outline: none;
  
  color: var(--primary-text-color);
  font-family: var(--primary-typography);
  font-size: 38px;
  line-height: 100%;
}

.inputCharacterClass{
  display: flex;
  justify-content: start;
  align-items: start;

  padding-bottom: 10px;

  background-color: transparent;
  border: none;
  outline: none;
  
  color: var(--secondary-text-color);
  font-family: var(--secondary-typography);
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
}

.bonus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  gap: 60px;
  flex-wrap: wrap;
  
  margin-top: 30px;
  width: 992px;
}

.abilities {
  display: flex;  
}

.ability {
  position: relative;

  margin-right: 10px;  
}

.abilities p {
  display: flex;
  flex-direction: column;
  text-align: center;

  margin-bottom: 0;
  text-transform: uppercase;

  color: var(--secondary-text-color);
  font-family: var(--secondary-typography);
  font-size: 10px;
  font-weight: 800;
  line-height: 100%;
}

.inputModifier {
  background-color: transparent;
  border: none;
  outline: none;

  position: absolute;
  top: 35px;
  left: 27px;  
  
  color: var(--primary-text-color);
  font-family: var(--primary-typography);
  font-size: 24px;
  line-height: 100%;
}

.inputAbilityScore {
  background-color: transparent;
  border: none;
  outline: none;
  
  position: absolute;
  top: 85px;
  left: 33.5px;

  color: var(--secondary-text-color);
  font-family: var(--secondary-typography);
  font-size: 14px;
  font-weight: 800;
  line-height: 100%;
}

.scores {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* align-content: flex-start; */
  gap: 16px;
  /* flex-wrap: wrap; */
}

.score {
  position: relative;
}

.score p {
  display: flex;

  margin-top: 0;
  text-transform: uppercase;

  color: var(--secondary-text-color);
  font-family: var(--secondary-typography);
  font-size: 10px;
  font-weight: 800;
  line-height: 100%;
}

.pHitPoints {
  position:absolute;  
  top: 62px;
  left: 11px;
}

.pArmor {
  position:absolute;  
  top: 59px;
  left: 10px;
}

.pProficiency {
  position:absolute;  
  top: 55px;
  left: 3px;
}

.inputHitPoints {
  background-color: transparent;
  border: none;
  outline: none;
  
  position: absolute;
  top: 20px;
  left: 28px;
  
  color: var(--primary-text-color);
  font-family: var(--primary-typography);
  font-size: 24px;
  line-height: 100%;
}

.inputArmor {
  background-color: transparent;
  border: none;
  outline: none;
  
  position: absolute;
  top: 18px;
  left: 25px;

  color: var(--primary-text-color);
  font-family: var(--primary-typography);
  font-size: 24px;
  line-height: 100%;
}

.inputProficiency {
  background-color: transparent;
  border: none;
  outline: none;
  
  position: absolute;
  top: 14px;
  left: 25px;

  color: var(--primary-text-color);
  font-family: var(--primary-typography);
  font-size: 24px;
  line-height: 100%;
}

.line { 
  max-width: 1024px;
  margin-top: 20px;
  width: 100%;
  border: none;
  height: 1px;

  background: rgba(156, 156, 189, 0.33);
}

.skillsContainer {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  margin-top: 40px;

  border-radius: 8px;
  background: rgba(28, 28, 34, 0.60);
}

.pSkill {
  color: var(--secondary-text-color);
  font-family: var(--secondary-typography);
  font-size: 16px;
  font-weight: 800;
  line-height: 100%;
  text-transform: uppercase;
}

.contSkill {
  display: flex;
  justify-content: space-between;
}

.skills {
  display: flex;
  flex-direction: column;

  padding-right: 15px;
}

.skill {
  display: flex;
  width: 228px;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 10px;
}


.labelCheck1 {
  /* display: inline-block; */
  width: 23px;
  height: 14px;

  color: var(--secondary-text-color);
  font-family: var(--secondary-typography);
  font-size: 10px;
  font-weight: 800;
  line-height: 140%;
}

.labelCheck2 {
  width: 150px;

  color: var(--secondary-text-color);
  font-family: var(--secondary-typography);
  font-size: 12px;
  line-height: 120%;
}

input[type="checkbox"] {
  display: none;
}

label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
}

.labelCheck1:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  top: -1px;
  background-color: transparent;
  border: 1.5px solid #fff;
  border-radius: 12px;
  box-sizing: border-box;
}

input[type="checkbox"]:checked + .labelCheck1:before {
  background-color: var(--primary-text-color);
  border: 1.5px solid var(--primary-text-color);
}

.inputSkill {
  display: flex;
  width: 25px;
  height: 13px;
  flex-direction: column;
  flex-shrink: 0;
  text-align: right;

  background-color: transparent;
  border: none;
  outline: none;

  color: var(--primary-text-color);
  font-family: var(--primary-typography);
  font-size: 14px;
  line-height: 115%;
}