:host {
  background-image: url("src/assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  display: block;
  min-height: 100%;
}

.root {
  height: 100%;
  width: 100%;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;

  padding: 32px 16px 0px;
}

.header {
  display: flex;
  align-items: center;
  gap: 18px;
}

.characterInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputName {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 3px;
  border: none;
  outline: none;

  padding-left: 5px;

  color: var(--primary-text-color);
  font-family: var(--primary-typography);
  font-size: 38px;
  line-height: 100%;
}

.selectCharacterClass {
  display: flex;
  justify-content: start;
  align-items: center;

  margin-top: 7px;
  padding-left: 5px;

  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 3px;
  border: none;
  outline: none;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  height: 20px;
  width: 100px;

  color: var(--secondary-text-color);
  font-family: var(--secondary-typography);
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
}

.selectCharacterClass option {
  background-color: rgba(0, 27, 66);
  /* background-color: transparent; */
}

.bonus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  gap: 60px;
  flex-wrap: wrap;

  margin-top: 30px;
  width: 992px;
}

.abilities {
  display: flex;
}

.scores {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.line {
  max-width: 1024px;
  margin-top: 20px;
  width: 100%;
  border: none;
  height: 1px;

  background: rgba(156, 156, 189, 0.33);
}

.skillsContainer {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  margin-top: 40px;

  border-radius: 8px;
  background: rgba(28, 28, 34, 0.60);
}

.pSkill {
  color: var(--secondary-text-color);
  font-family: var(--secondary-typography);
  font-size: 16px;
  font-weight: 800;
  line-height: 100%;
  text-transform: uppercase;
}

.contSkill {
  display: flex;
  justify-content: space-between;
}

.skills {
  display: flex;
  flex-direction: column;

  padding-right: 15px;
}

.skill {
  display: flex;
  width: 228px;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 10px;
}


.labelCheck1 {
  /* display: inline-block; */
  width: 23px;
  height: 14px;

  color: var(--secondary-text-color);
  font-family: var(--secondary-typography);
  font-size: 10px;
  font-weight: 800;
  line-height: 140%;
}

.labelCheck2 {
  width: 150px;

  color: var(--secondary-text-color);
  font-family: var(--secondary-typography);
  font-size: 12px;
  line-height: 120%;
}

input[type="checkbox"] {
  display: none;
}

label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
}

.labelCheck1:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  top: -1px;
  background-color: transparent;
  border: 1.5px solid #fff;
  border-radius: 12px;
  box-sizing: border-box;
}

input[type="checkbox"]:checked+.labelCheck1:before {
  background-color: var(--primary-text-color);
  border: 1.5px solid var(--primary-text-color);
}

.inputSkill {
  display: flex;
  width: 25px;
  height: 13px;
  flex-direction: column;
  flex-shrink: 0;
  text-align: right;

  background-color: transparent;
  border: none;
  outline: none;

  color: var(--primary-text-color);
  font-family: var(--primary-typography);
  font-size: 14px;
  line-height: 115%;
}

.additionalInformation {
  display: flex;
  justify-content: space-between;

  margin-top: 20px;
  margin-bottom: 40px;
}

.attacksAndSpells {
  display: flex;
  flex-direction: column;

  margin-right: 30px;

  color: var(--secondary-text-color);
  font-family: var(--secondary-typography);
  font-size: 16px;
  font-weight: 800;
  line-height: 100%;
  text-transform: uppercase;
}

.inputAttacks {
  width: 395px;
  height: 32px;
  margin-bottom: 10px;

  border-radius: 8px;
  border: none;
  background: rgba(28, 28, 34, 0.60);

  color: var(--secondary-text-color);
  font-family: var(--secondary-typography);
  font-size: 13px;
  line-height: 160%;
}

.annotations p {
  color: var(--secondary-text-color);
  font-family: var(--secondary-typography);
  font-size: 16px;
  font-weight: 800;
  line-height: 100%;
  text-transform: uppercase;
}




.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.error {
  color: red;
}