<div class="root">
  <div class="container">
    <div class="header">
      <div class="avatar">
        <vrg-avatar></vrg-avatar>
      </div>
      <div class="characterInfo">
        <div class="name"><input class="inputName" type="text" value="Bruenor"></div>
        <div class="characterClass"><input class="inputCharacterClass" type="text" value="Enano gerrero"></div>
      </div>
    </div>
    
    <div class="bonus">
      <div class="abilities">
        <div class="ability">
          <p>FUERZA</p>
          <vrg-ability></vrg-ability>  
          <input class="inputModifier" type="text" value="+2">
          <input class="inputAbilityScore" type="text" value="15">        
        </div>
        <div class="ability">
          <p>DESTREZA</p>
          <vrg-ability></vrg-ability>
          <input class="inputModifier" type="text" value="+0">
          <input class="inputAbilityScore" type="text" value="10">        
        </div>
        <div class="ability">
          <p>CONSTITUCION</p>
          <vrg-ability></vrg-ability>
          <input class="inputModifier" type="text" value="+2">
          <input class="inputAbilityScore" type="text" value="14">        
        </div>
        <div class="ability">
          <p>INTELECTO</p>
          <vrg-ability></vrg-ability>
          <input class="inputModifier" type="text" value="-1">
          <input class="inputAbilityScore" type="text" value="8">        
        </div>
        <div class="ability">
          <p>SABIDURIA</p>
          <vrg-ability></vrg-ability>
          <input class="inputModifier" type="text" value="+1">
          <input class="inputAbilityScore" type="text" value="13">        
        </div>
        <div class="ability">
          <p>CARISMA</p>
          <vrg-ability></vrg-ability>
          <input class="inputModifier" type="text" value="+1">
          <input class="inputAbilityScore" type="text" value="12">        
        </div>        
      </div>

      <div class="scores">



      </div>
    </div>


    <!-- <div class="armor">
      <img src="assets/images/armor.svg" alt="Imagen">
    </div> -->


    
    
  
  </div>
</div>
