.score {
  position: relative;
}

.proficiency {
  width: 82px;
  height: 85px;
  flex-shrink: 0;

  box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, 0.40);
}


.inputProficiency {
  position: absolute;
  top: 14px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 35px;

  background-color: transparent;
  border: none;
  outline: none;


  color: var(--primary-text-color);
  font-family: var(--primary-typography);
  font-size: 24px;
  line-height: 100%;
}

.pProficiency {
  display: flex;
  margin-top: 0;

  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;

  color: var(--secondary-text-color);
  font-family: var(--secondary-typography);
  font-size: 10px;
  font-weight: 800;
  line-height: 100%;
  text-transform: uppercase;
}