  .score {
    position: relative;
    height: 96px;
  }

  .input-hit-points {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;

    color: var(--primary-text-color);
    font-family: var(--primary-typography);
    font-size: 24px;
    line-height: 100%;
  }

  .p-hit-points {
    display: flex;
    margin: 0;
    width: 67px;

    position: absolute;
    top: 64%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    color: var(--secondary-text-color);
    font-family: var(--secondary-typography);
    font-size: 10px;
    font-weight: 800;
    line-height: 100%;
    text-transform: uppercase;
  }