.root {
  height: 100%;
  width: 100%;

  border: 1px solid #3C3C48;
  background: #1C1C22;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  height: 64px;
  margin: 0 auto;
  width: 100%;
  padding: 0 16px;
}

.path {
  display: flex;
  align-items: center;
}

.segment {
  color: var(--secondary-text-color);
  font-family: var(--secondary-typography);
  font-size: 14px;

  text-decoration: none;
}

.segment--active {
  color: var(--primary-text-color);
}

.segment--separator {
  margin: 0 6px;
}

.user {
  display: flex;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--secondary-text-color);
  font-family: var(--primary-typography);
  font-size: 20px;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-left: 10px;

  background-color: var(--secondary-text-color);
  border-radius: 50%;

  color: #1C1C22;
  font-family: var(--primary-typography);
  font-size: 20px;
}