.container {
  display: flex;
  margin-top: 60px;
  justify-content: center;
}

.button {
  height: 48px;
  width: 126px;
  flex-shrink: 0;

  background: var(--primary-text-color);
  border-top: 2px solid #1C1C22;
  border-bottom: 2px solid #1C1C22;
  border-left: none;
  border-right: none;

  color: #1C1C22;
  text-align: center;
  font-size: 15px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 100%;

  margin-left: -1.5px;
  margin-right: -1.5px;
}

.rightSide {
  transform: scaleX(-1);
}