.container {
  display: flex;
  justify-content: center;
}

.button {
  height: 48px;
  width: 126px;
  flex-shrink: 0;

  border-top: 2px solid #1C1C22;
  border-bottom: 2px solid #1C1C22;
  border-left: none;
  border-right: none;

  color: #1C1C22;
  text-align: center;
  font-size: 15px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 100%;

  margin-left: -1.5px;
  margin-right: -1.5px;
}

.button-primary {
  background: var(--primary-text-color);
}

.button-secondary {
  background: #DDDDE8;
}

.button-danger {
  background: #FF9A9A;
}

.button-sghost {
  background: transparent;
  color: #DDDDE8;
  border-top: 2px solid #DDDDE8;
  border-bottom: 2px solid #DDDDE8;
  border-left: none;
  border-right: none;
}

.button-dghost {
  background: transparent;
  color: #FF9A9A;
  border-top: 2px solid #FF9A9A;
  border-bottom: 2px solid #FF9A9A;
  border-left: none;
  border-right: none;
}

.right-side {
  transform: scaleX(-1);
}