@import url(//db.onlinewebfonts.com/c/ce7ee1905f939d4e0f4cfcb3470c4d4e?family=Old+Fenris);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');

:root {
  --primary-text-color: #FFB800;
  --secondary-text-color: #F9F9F9;
  
  --primary-typography: "Old Fenris";
  --secondary-typography: "Montserrat";
}

body,html {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;  
}
