<div class="container" [ngClass]="{
  'item-grey': color === 'grey',
  'item-blue': color === 'blue',
  'item-yellow': color === 'yellow'
}">
  <img class="img" [src]="src">
  <div class="name">{{ name }}</div>
  <ul class="statistics">
    <li *ngFor="let stat of statistics">
      <span *ngIf="stat.bonus" class="plus">+</span>
      <span *ngIf="stat.bonus" class="bonus">{{ stat.bonus }}</span>
      <span *ngIf="stat.bonus">{{ stat.name }}</span>
      <span>{{ stat.effect }}</span>
    </li>
  </ul>
  <div class="description">{{ description }}</div>
</div>