.label {
  display: block;

  color: var(--secondary-text-color);
  font-family: var(--secondary-typography);
  font-size: 11px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.container {
  display: flex;
}

.input {
  height: 42px;
  flex: 1 0 0;
  width: 0;
  min-width: 32px;
  /* max-width: 300px;
  width: 100%; */

  background: #1C1C22;
  border-top: 2px solid #3C3C48;
  border-bottom: 2px solid #3C3C48;
  border-left: none;
  border-right: none;
  outline: none;

  color: var(--secondary-text-color);
  font-size: 15px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 100%;

  margin-left: -1.5px;
  margin-right: -1.5px;
}

/*Cambios de estilos al autocompletar*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #1C1C22 inset !important;
  -webkit-text-fill-color: white !important;
  font-size: inherit !important;
}

input::placeholder {
  color: #646477;
}

.right-side {
  transform: scaleX(-1);
}