<div class="container">
  <img class="logoImg" src="assets/images/logo.png" alt="Imagen">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <vrg-input for="inputEmail" label="EMAIL" type="email" id="inputEmail" placeholder="ejemplo@gmail.com"
        [control]="form.get('email')"></vrg-input>
    </div>
    <div>
      <vrg-input for="inputPassword" label="PASSWORD" type="password" id="inputPassword" placeholder="****************"
        [control]="form.get('password')"></vrg-input>
    </div>
    <div class="recoverpwdContainer">
      <a class="recoverpwd">¿Has olvidado la contraseña?</a>
    </div>
    <vrg-button type="submit" color="primary">Iniciar sesión</vrg-button>
  </form>

  <hr class="line">

  <a class="register" routerLink="/register">Regístrate</a>

  <p class="error" *ngIf="error">{{error.message}}</p>
</div>