.skill-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 10px;
}

.check {
  display: none;
}

.ability:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  top: -1px;
  background-color: transparent;
  border: 1.5px solid #fff;
  border-radius: 12px;
  box-sizing: border-box;
}

input[type="checkbox"]:checked+.ability:before {
  background-color: var(--primary-text-color);
  border: 1.5px solid var(--primary-text-color);
}

.ability {
  width: 23px;
  height: 14px;

  color: var(--secondary-text-color);
  font-family: var(--secondary-typography);
  font-size: 10px;
  font-weight: 800;
  line-height: 140%;
  text-transform: uppercase;
}

.name {
  width: 150px;

  color: var(--secondary-text-color);
  font-family: var(--secondary-typography);
  font-size: 12px;
  line-height: 120%;
}

label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
}

.bonus {
  background: none;
  appearance: none;
  border: 0;
  margin: 0 auto;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 6px;
  transition: all .3s linear;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  text-align: right;

  background-color: transparent;
  border: none;
  outline: none;

  color: var(--primary-text-color);
  font-family: var(--primary-typography);
  font-size: 14px;
  line-height: 115%;

  padding-bottom: 5px;
}

.bonus:hover {
  background-color: rgba(255, 255, 255, 0.12);
}