.label-quality {
  display: block;

  color: var(--secondary-text-color);
  font-family: var(--secondary-typography);
  font-size: 11px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.select-container {
  display: flex;
}

.select-quality {
  height: 42px;
  flex: 1 0 0;

  background: #1C1C22;
  border-top: 2px solid #3C3C48;
  border-bottom: 2px solid #3C3C48;
  border-left: none;
  border-right: none;
  outline: none;

  color: var(--secondary-text-color);
  font-family: var(--secondary-typography);
  font-size: 15px;
  font-weight: 500;
  line-height: 100%;

  margin-left: -1.5px;
  margin-right: -1.5px;
}

.placeholder {
  color: #3C3C48;
}

.right-side {
  transform: scaleX(-1);
}