<label *ngIf="label" class="label-quality" [for]="id">{{label}}</label>

<div class="textarea-container">
  <div class="side-container">
    <img src="assets/images/textarea_top_left_side.svg" alt="Imagen">
    <div class="div-side-left"></div>
    <img class="bottom-left-side" src="assets/images/textarea_top_left_side.svg" alt="Imagen">
  </div>
  <textarea #textarea class="textarea" placeholder="Escribe aquí..." (input)="onInputChange($event)"></textarea>
  <div class="side-container">
    <img class="top-right-side" src="assets/images/textarea_top_left_side.svg" alt="Imagen">
    <div class="div-side-right"></div>
    <img class="bottom-right-side" src="assets/images/textarea_top_left_side.svg" alt="Imagen">
  </div>
</div>